 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/2481226310-01.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 922px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 218px 88px 0 auto;
  padding: 36px 7px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 257px;
  margin: 64px auto 0 -36px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-shape-1 {
  width: 189px;
  background-image: none;
  left: 0;
  right: auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 40px 9px 0 20px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 20px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -280px 88px 0 auto;
  padding: 36px 11px 36px 10px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 40px 88px 0 auto;
  padding: 36px 11px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 40px 88px 60px auto;
  padding: 36px 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-1 .u-btn-1 {
    align-self: flex-end;
    margin-top: 158px;
    margin-right: 60px;
  }

  .u-section-1 .u-group-1 {
    width: 700px;
    min-height: 308px;
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-btn-2 {
    align-self: flex-end;
    margin-right: 60px;
  }

  .u-section-1 .u-btn-3 {
    align-self: flex-end;
    margin-right: 60px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 202px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 425px;
    min-height: 332px;
    margin-top: -31px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -261px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 638px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -545px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 113px;
    margin-right: 60px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 60px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -100px;
    margin-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -19px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -522px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 90px;
    margin-right: -15px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 34px;
    margin-left: -19px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: -15px;
  }
} .u-section-2 {
  background-image: url("images/rm222-mind-16.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 879px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 179px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 42px 257px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 40px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 47px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/2481226310-02.jpeg");
  min-height: 200px;
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 443px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding-right: 20px;
}

.u-section-2 .u-text-3 {
  margin-left: 20px;
  margin-right: 0;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-2 .u-text-4 {
  margin-left: 20px;
  margin-right: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 258px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/what-are-the-best-work-from-home-graphic-design-jobs-for-2021-2351-1625579458352.jpg");
  min-height: 385px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  background-image: url("images/39ddfe703821985693bf021f1f55c9f4.jpeg");
  min-height: 200px;
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 443px;
}

.u-section-2 .u-container-layout-7 {
  padding-bottom: 0;
}

.u-section-2 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-2 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 157px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 32px;
  }

  .u-section-2 .u-image-1 {
    min-height: 199px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 444px;
    background-position: 50% 50%;
    --animation-custom_in-translate_x: -200px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 16px;
    position: relative;
  }

  .u-section-2 .u-text-4 {
    margin-left: 16px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 327px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
  }

  .u-section-2 .u-image-2 {
    min-height: 316px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-3 {
    min-height: 215px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 428px;
    background-position: 50% 50%;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 26px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-2 .u-image-1 {
    min-height: 162px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 162px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-image-2 {
    min-height: 343px;
  }

  .u-section-2 .u-image-3 {
    min-height: 169px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-image-1 {
    min-height: 199px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 94px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-image-2 {
    min-height: 316px;
  }

  .u-section-2 .u-image-3 {
    min-height: 215px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1187px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 1px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 69px;
    margin-right: 27px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 136px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: url("images/about-us-corporate-governance-professionals-pattern-cyan-hero.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 403px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 26px 827px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 26px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 248px;
  background-image: url("images/rm222-mind-16.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
}

.u-section-3 .u-icon-1 {
  height: 38px;
  width: 38px;
  display: block;
  margin: 17px 305px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 17px 30px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 7px 30px 0 0;
}

.u-section-3 .u-image-2 {
  background-image: url("images/rm222-mind-16.jpg");
  background-position: 50% 50%;
  min-height: 248px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-3 .u-icon-2 {
  height: 38px;
  width: 38px;
  display: block;
  margin: 17px 306px 0 -1px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 17px 31px 0 -1px;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  margin: 7px 31px 0 -1px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/rm222-mind-16.jpg");
  background-position: 50% 50%;
  min-height: 248px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 30px;
}

.u-section-3 .u-icon-3 {
  height: 38px;
  width: 38px;
  display: block;
  margin: 17px 305px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 17px 30px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  margin: 7px 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 627px;
  }

  .u-section-3 .u-image-1 {
    min-height: 253px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 0;
    margin-right: 244px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 25px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 25px;
  }

  .u-section-3 .u-image-2 {
    min-height: 253px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 0;
    margin-right: 244px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 25px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 25px;
  }

  .u-section-3 .u-image-3 {
    min-height: 253px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 25px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 0;
    margin-right: 244px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 25px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 407px;
  }

  .u-section-3 .u-image-1 {
    min-height: 254px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 19px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 193px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 19px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 19px;
  }

  .u-section-3 .u-image-2 {
    min-height: 194px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 19px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 193px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 19px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 19px;
  }

  .u-section-3 .u-image-3 {
    min-height: 194px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 19px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 193px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 19px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 227px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 230px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 14px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 145px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 14px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 14px;
  }

  .u-section-3 .u-image-2 {
    min-height: 230px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 145px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 14px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 14px;
  }

  .u-section-3 .u-image-3 {
    min-height: 230px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 14px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 145px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 14px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 27px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 27px;
    margin-right: 266px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -18px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-3 {
    margin-right: -18px;
    margin-left: 27px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 266px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-4 {
    margin-right: -18px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-5 {
    margin-right: -18px;
    margin-left: 27px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 31px;
    margin-right: 266px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-6 {
    margin-right: -18px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-7 {
    margin-right: -18px;
    margin-left: 27px;
  }
} .u-section-4 {
  min-height: 955px;
}

.u-section-4 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 476px;
  object-position: 50% 12.04%;
  background-position: 50% 12.04%;
  filter: brightness(0.5);
}

.u-section-4 .u-group-1 {
  width: 1140px;
  min-height: 198px;
  margin: -425px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 19px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 646px;
  background-image: none;
}

.u-section-4 .u-image-2 {
  height: 345px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -110px 27px 0 auto;
  padding: 29px 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 37px auto 0 20px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 646px;
}

.u-section-4 .u-image-3 {
  height: 345px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -110px 27px 0 auto;
  padding: 29px 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 37px 147px 0 19px;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 646px;
}

.u-section-4 .u-image-4 {
  height: 345px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -110px 27px 0 auto;
  padding: 29px 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 37px 150px 0 20px;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 842px;
  }

  .u-section-4 .u-image-1 {
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 470px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 689px;
  }

  .u-section-4 .u-image-2 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -112px;
    margin-right: 11px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 39px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 689px;
  }

  .u-section-4 .u-image-3 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -112px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 39px;
    margin-right: -288px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 689px;
  }

  .u-section-4 .u-image-4 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -113px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 409px;
  }

  .u-section-4 .u-image-1 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    margin-top: -365px;
    min-height: 205px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 13px;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 8px;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 711px;
  }

  .u-section-4 .u-image-2 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -101px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 25px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 23px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 711px;
  }

  .u-section-4 .u-image-3 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -101px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 28px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 20px;
    margin-left: 6px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 711px;
  }

  .u-section-4 .u-image-4 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -101px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 27px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 21px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 509px;
  }

  .u-section-4 .u-image-1 {
    height: 349px;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    min-height: 272px;
    width: 540px;
    margin-top: -299px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 13px;
    margin-bottom: 37px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 745px;
  }

  .u-section-4 .u-image-2 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -124px;
    margin-right: 27px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 60px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 22px;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 664px;
  }

  .u-section-4 .u-image-3 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -127px;
    margin-right: 27px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 59px;
    margin-right: -18px;
    margin-left: 18px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 18px;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 617px;
  }

  .u-section-4 .u-image-4 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -118px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 9px;
    margin-right: 18px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 491px;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    min-height: 359px;
    width: 340px;
    margin-top: -491px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 8px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-4 .u-image-2 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -104px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 24px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-4 {
    margin: 11px 6px -13px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 366px;
  }

  .u-section-4 .u-image-3 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -96px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 19px;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-6 {
    margin: 9px 6px -75px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 448px;
  }

  .u-section-4 .u-image-4 {
    height: 309px;
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -97px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 29px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 11px;
    margin-right: 12px;
    margin-bottom: -52px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/winning-2000x632-interior.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 316px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1068px;
  margin: 64px auto 20px 36px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 232px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 25px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 232px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-5 .u-text-4 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 25px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 232px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-5 .u-text-6 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 25px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 232px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-5 .u-text-8 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 881px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 675px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 506px;
    margin-bottom: 56px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-text-4 {
    position: relative;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 319px;
    margin-bottom: 22px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
}